---
import Sidebar from '../components/Sidebar.astro'
import TopBar from '../components/TopBar.astro'
import '../styles/global.css'

const { entry } = Astro.props
---

<html lang="en" class="font-sans" style="scrollbar-width: thin;">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ entry.data.title }</title>
	</head>
	<body class="bg-zinc-900 text-[14px] text-zinc-300">
		<div class="isolate lg:grid lg:grid-cols-[18rem_minmax(0,1fr)]">
			<Sidebar />
			<div>
				<TopBar />
				<slot />
			</div>
		</div>
    <script src="../scripts/main.js"></script>
	</body>
</html>
