---
const { heading } = Astro.props
---

<header class="tab-control flex items-center justify-between pt-5">
	<nav class="tab-nav flex items-center">
		<button data-tab-target="readTab" class="tab-btn active -mr-[1px]">Read</button>
		<button data-tab-target="talkTab" class="tab-btn">Discussion</button>
	</nav>

	<div class="dropdown-wrapper">
		<button data-dropdown-target="dropdownMain" class="tab-btn lg:hidden">More</button>

		<nav id="dropdownMain" class="tab-nav hidden lg:flex lg:items-center">
			<button data-tab-target="historyTab" class="tab-btn lg:-mr-[1px]">View History</button>
			<a href="#" class="tab-btn lg:-mr-[1px]">View Source</a>
			<a href="#" class="tab-btn lg:-mr-[1px]">Edit Page</a>
			<button data-tab-target="searchTab" class="tab-btn lg:-ml-[1px]">Search:...</button>
		</nav>
	</div>
</header>

<main class="tab-wrapper px-2 md:px-4 lg:px-8 xl:px-16 markdown">
	<article id="readTab" class="tab-content active">
		<h1>{heading}</h1>
		<slot name="readTab" />
	</article>

	<aside id="talkTab" class="tab-content">
		<h1>Talk In: {heading}</h1>
		<!-- Isi Nanti -->
	</aside>

	<aside id="historyTab" class="tab-content">
		<h1>History In: {heading}</h1>
		<slot name="historyTab" />
	</aside>

	<aside id="searchTab" class="tab-content">
		<h1>Search</h1>
	</aside>
</main>

<style>
	@reference '../styles/global.css';
  @layer components {
    .tab-btn {
      @apply border border-zinc-700 -mb-[1px] bg-zinc-800 px-2 py-1;
      background: linear-gradient(180deg,rgb(40, 40, 40) 0%, rgb(26, 26, 26) 100%);
    }

    .tab-btn.active {
      @apply border-b-zinc-900 bg-zinc-900;
      background: none;
    }

    .tab-wrapper {
      @apply border border-zinc-700;
    }

    .tab-content {
      @apply hidden;
    }

    .tab-content.active {
      @apply block;
    }
  }
</style>
