---
import BaseLayout from '../components/BaseLayout.astro'
import ListProjects from '../components/ListProjects.astro'
import Prose from '../components/Prose.astro'

import { Content, frontmatter } from '../content/Home.md'
import { MENUS } from '../site.config'
import { relUrl, getPosts } from '../utils'

const cta = MENUS.cta

const projects = await getPosts('Projects', 2)
---

<BaseLayout>
	<header>
		<Prose className="prose-em:not-italic">
			<Content />
		</Prose>
		<nav class="mt-6 flex items-center gap-2">
			{
				cta.map((item) => (
					<a href={relUrl(item.href)} class={`btn ${item.primary ? 'btn--primary' : ''}`}>
						{item.label}
					</a>
				))
			}
		</nav>
	</header>
	<main class="mt-10">
		<ListProjects items={projects} heading="Last Projects" />
	</main>
</BaseLayout>
