---
import Alphabetical from '../components/Alphabetical.astro'
import BaseLayout from '../components/BaseLayout.astro'
import Search from 'astro-pagefind/components/Search'
import ListSeries from '../components/ListSeries.astro'
import Prose from '../components/Prose.astro'
import TagCloud from '../components/TagCloud.astro'

import { Content, frontmatter } from '../content/Notes.md'
import { getPosts } from '../utils'

const series = await getPosts('Series')
const notes = await getPosts('Notes')
---

<BaseLayout>
	<header>
		<ListSeries items={series} />
		<TagCloud />
		<Prose className="prose-em:not-italic">
			<Content />
		</Prose>
    <Search id="search" className="pagefind-ui my-4" uiOptions={{ showImages: true }} />
	</header>
	<main class="mt-10">
		<Prose>
			<Alphabetical docs={notes} />
		</Prose>
	</main>
</BaseLayout>
