---
import { getCollection } from 'astro:content'
import { relUrl } from '../assets/utils/url'

const docs = await getCollection('docs')
const getUrl = docs.flatMap(doc => relUrl(doc.id))
---

<!doctype html>
<html lang="en" style="background-color: #18181b;">
	<head data-json-href={JSON.stringify(getUrl)}>
		<meta charset="UTF-8" />
		<title>Random Page</title>
		<script is:inline>
			document.addEventListener('DOMContentLoaded', () => {
				const getJson = document.querySelector('[data-json-href]')
				const urlParse = JSON.parse(getJson.getAttribute('data-json-href'))

				const random = Math.floor(Math.random() * urlParse.length)
				window.location.href = urlParse[random]
			})
		</script>
	</head>
	<body> </body>
</html>
