---
import '../styles/global.css'

import Footer from './Footer.astro'
import Header from './Header.astro'
import MobileHeader from './MobileHeader.astro'
---

<html lang="en" class="bg-zinc-900 font-['Noto_Sans'] text-zinc-300">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="block lg:grid lg:grid-cols-[320px_minmax(0,1fr)]">
		<Header />
		<MobileHeader />
		<div class="container mx-auto mt-10 px-4 lg:px-10 min-h-dvh  scroll-pt-20">
			<slot />
			<Footer />
		</div>
	</body>
</html>
