---
import '../styles/global.css'

import Footer from './Footer.astro'
import Header from './Header.astro'
---

<html lang="en" class="bg-zinc-950 text-zinc-300">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <main class="container mx-auto">
      <slot />
    </main>
    <Footer />
  </body>
</html>
