---
import Brand from './Brand.astro'

import { Icon } from 'astro-icon/components'
import { MENUS } from '../site.config'
import { relUrl, titleWord } from '../utils'

const menus = [MENUS.main, MENUS.social]
---

<header
	id="sidebar"
	class="fixed top-0 left-0 z-50 grid h-dvh w-xs grid-rows-[auto_minmax(0,1fr)_auto] gap-5 border-r border-r-zinc-800 bg-zinc-900 p-5 shadow-sm shadow-black transition-all duration-300 lg:sticky"
>
	<nav class="flex items-center justify-between">
		<Brand />
		<button class="lg:hidden" onclick="sideToggle()">
			<Icon name="icon-x-mark" class="size-6 text-white" />
		</button>
	</nav>

	{
		menus.map((menu) => (
			<nav class="flex flex-col">
				{menu.map((item) => {
					const { pathname } = Astro.url
					const href = relUrl(item.href)
					const label = item.label
					const icon = item.icon

					const isActive = href === pathname || (href !== relUrl('/') && pathname.startsWith(href))
					const classes = `flex items-center gap-2.5 transition-colors duration-500 hover:text-zinc-50 p-2 ${isActive ? 'text-white border border-zinc-800 shadow-sm shadow-black rounded-md' : 'text-zinc-400'}`

					return (
						<a href={href} class={classes}>
							<Icon name={icon} />
							<span>{label}</span>
						</a>
					)
				})}
			</nav>
		))
	}
</header>

<div
	onclick="sideToggle()"
	id="overlaySidebar"
	class="fixed z-40 size-full bg-zinc-950/90 transition-all duration-300 lg:hidden"
>
</div>

<style lang="css" itemscope>
	#sidebar {
		visibility: hidden;
		transform: translateX(-100%);
	}

	#sidebar.isActive {
		visibility: visible;
		transform: translateX(0%);
	}

	#overlaySidebar {
		visibility: hidden;
		opacity: 0;
	}

	#overlaySidebar.isActive {
		visibility: visible;
		opacity: 1;
	}

	@media (min-width: 64rem) {
		#sidebar {
			visibility: visible;
			transform: none;
		}
	}
</style>

<script is:inline>
	function sideToggle() {
		document.getElementById('sidebar')?.classList.toggle('isActive')
		document.getElementById('overlaySidebar')?.classList.toggle('isActive')
	}
</script>
