---
import { relUrl, timeFormat } from '../utils'

const { items, heading } = Astro.props
---

<h2 class="mt-10 text-2xl text-white">{heading}</h2>
<ul class="note">
	{
		items.map((item: any) => {
			const href = relUrl(`/${item.id}/`)
			const title = item.data.title
			const isoDate = new Date(item.data.date).toISOString()

			return (
				<li class="note__item">
					<a href={href} class="note__link">
						<span class="note__title">{title}</span>
					</a>
				</li>
			)
		})
	}
</ul>

<style>
	@reference "../styles/global.css";
	.note {
		@apply grid md:grid-cols-2 md:gap-x-16 lg:grid-cols-1 xl:grid-cols-2;
	}
</style>
